<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Page</title>
  <link rel="stylesheet" href="register.css">
  
</head>
<body>
    <%- include("../components/navbar")%>

  <!-- Registration Form -->
  <div class="register-container">
    <h2>Forgot Password</h2>
    <form action="/forgotPassword" method="post">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"name="email" id="email" placeholder="Enter your email">
      </div>
      <button type="submit" class="register-btn">send OTP</button>
    </form>
  </div>
  <%- include("../components/footer")%>
</body>
</html>
